[submodule "modules/CrashTracker"]
	path = modules/CrashTracker
	url = git@github.com:HiBer2007/CrashTracker.git
[submodule "modules/CrashTrackerHandleLib"]
	path = modules/CrashTrackerHandleLib
	url = git@github.com:HiBer2007/CrashTrackerHandleLibCPP.git
[submodule "modules/HiBerGUILibCPP"]
	path = modules/HiBerGUILibCPP
	url = git@github.com:HiBer2007/HiBerGUILibCPP.git
[submodule "modules/CommonLoggerCPP"]
	path = modules/CommonLoggerCPP
	url = git@github.com:HiBer2007/CommonLoggerCPP.git
